body {overflow: hidden; }
body::-webkit-scrollbar { width: 0 !important; }
body { overflow: -moz-scrollbars-none; }
body { -ms-overflow-style: none; }
* {
  box-sizing: border-box;
}
body {
  background-image: url("img/fondo.jpg") ;
  background-repeat: no-repeat;
  background-size: cover;
  
}

.app label {
    font-size: 250%;
    width: 135px;
    height: 100%;
}
.container {
  height: 100vh;
}
.custom-select{
  width: max-content;
  font-size: 191.7%;
  vertical-align: top;
}
.app {
  width: 300px;
  height: max-content;
  border-radius: 40px;
}
#rangevalue {
  width: 15%;
}

@media (max-height: 580px) {
  
  .app {
    margin-top: 5% !important;
  }
  .app label {
      font-size: 230%;
  }
  .custom-select {
    font-size: 171.7%;
}
}