
body {
  background-image: url("img/fondo.jpg") ;
  background-repeat: no-repeat;
  background-size: cover;
}
.app li {
  height: 60px;
}
.app label {
    font-size: 25px;
    width: 100px;
}
.container {
  height: 100vh;
}
.custom-select{
  width: max-content;
}
.app {
  width: 250px;
  height: max-content;
  margin-top: 14vh;
  border-radius: 40px;
}
#rangevalue {
  width: 14%;
}

.custom-control-label::before{
  background-color:#F78EC4;
  margin-left: 50px;
}
.custom-control-label::after{
   margin-left: 50px;
  background-color:white !important;
}
